<div class="well">
	<h1>Profiles are still being made.</h1>

	<h1><%= @user.name %></h1><span class="edit-account"><span title="edit account" class="oi oi-pencil icon"></span></span>
	<h2><%= @user.email %></h2>
</div>